<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gunn.jys.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.gunn.jys.entity.Teacher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="work_number" property="workNumber" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="is_director" property="isDirector" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, name, sex, age, is_director
  </sql>

  <resultMap id="TeacherUserVo" type="com.gunn.jys.vo.teacher.TeacherUserVo" extends="BaseResultMap">
     <result column="user_status" property="userStatus" jdbcType="INTEGER"/>
  </resultMap>

  <select id="findPageBy" resultMap="TeacherUserVo">
    SELECT t.*,u.status AS user_status FROM t_teacher t JOIN t_user u ON t.user_id = u.id
    <where>
      <if test="name != null">
        AND t.name LIKE CONCAT('%',#{name},'%')
      </if>
    </where>
  </select>
</mapper>